body {
    background-color: var(--bs-body-bg);
    height: 100vh;
    overflow: hidden; /* Disable scrolling */
}

#auth {
    height: 100vh;
    overflow: hidden; /* Disable scrolling */
}

#auth-left {
    padding: 4rem;
}
#auth-left .auth-title {
    margin-top: 4rem; /* Adjust this value to move the title up */
}

#auth-right {
    height: 100%;
    background: url(./assets/compiled/jpg/balmon.jpeg) no-repeat center center;
    background-size: cover;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.footer-text {
    color: #6c757d;
}

/* Centering the login box and other elements */
#auth-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.form-group, .btn, .form-check {
    margin-bottom: 15px;
}
